.candle-img{
    height: 100%;
    width: 100%;
}
.main-container{
    display: flex;
    margin: 2% 5%;
    flex-direction: column;
}
.main-header{
    display: flex;
    font-size: 2em;
    padding: 2%;
    justify-content: center;
    width: 100%;
    background: rgba(221, 238, 236, 0.5);
    color: rgb(255, 255, 255);
}

.main-tools-bar{
    display: flex;
    margin: 2%;
    width: 100%;
    align-items: center;
}

input{
    /* width: 25%; */
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.25em;
}

select {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 1.25em;
  }

.search-btn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 15px;
  cursor: pointer;
  transition: 0.5s;
}


.search-btn:hover{
    background-color: rgb(30, 116, 32);
  }

.form-width{
    width: 25%;
}

.stock_header{
    display: flex;
    font-size: 3em;
    justify-content:center;
    color: rgb(66, 68, 68)
    width: 100%;
}

.red-btn{
    background-color: brown;
    transition: 0.5s;
}

.red-btn:hover{
    background-color: rgb(92, 16, 16);
}

.stock-container{
    display: flex;
    flex-direction: column;
}

.loader {
    display: none;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

.tables-container{
    display: flex;
    flex-direction: row;
}

.table-spacing{
    margin: 1%;  
}
.book-item{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    background-color: #f3f7ff;
    margin:4px;
}

.header-format{
    font-weight: 600;
    font-size: 8px;
    background-color: #3498db;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
}

.book-element{
    padding: 2px 10px; 
    font-size: 18px;
    color: rgba(77, 84, 84, 0.923);
    
}

.book-header{
    display: flex;
    justify-content: center; 
    font-weight: 600; 
    font-size: 24px;
    color: rgba(77, 84, 84, 0.923);
}

.book-element-header-white{
    color: rgb(255, 255, 255);
}

.book-element-bold{
    font-weight: 600;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.result-container{
    display: flex;
    flex-direction: column;
    
}
.item-container-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 1.75em;
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.item-style{
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 1.25em;
    margin: 10px 0px;
}

.found-color{
    background-color: rgb(219, 219, 219);
    margin:10px;
    padding: 5px;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color: #95355a;
}

a:visited{
    color: #94a0b2;
}

.d-return{
    width: 100%;
}

.td-style{
    padding: 15px;
    font-size: 20px;
    color: rgba(77, 84, 84, 0.923);
    background-color: #ececec;
    text-align: center;
}

.indicator-bottom{
    padding-bottom: 30px;
}

.news-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 2%;
}

.news-row{
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.row-item{
    margin: 2px 15px;
    color: rgba(77, 84, 84, 0.923);
    width:10%
}

.row-item-wide{
    margin: 2px 15px;
    color: rgba(77, 84, 84, 0.923);
    width:50%
}

.row-item-style{
    font-size: 18px;
    justify-content: space-between;
}

.row-item-date{
    font-size: 14px;
}

.shareholders-container{
    flex-direction: row;
    width: 80%;
    margin-bottom: 2%;
}

.shareholders-item{
    font-size: 18px;
}

.shareholders-pie{
    width: 15%;
    float: left;
}

.shareholders-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
    color: rgba(77, 84, 84, 0.923);
    margin: 5px;
    padding: 10px;
}

.shareholders-narrow{
    width: 2%
}
.shareholders-medium{
    width: 5%;
}
.shareholders-wide{
    width: 20%;
}

.share-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shareholders-header{
    background-color:#f3f7ff;
}

.finance-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.data-style{
    margin: 5px 2px;
    width: 10%;
    font-size: 14px;
}

.data-style:first-child{
    color: rgba(77, 84, 84, 0.923);
    width: 50%;
    font-weight: 600;
    font-size: 14px;
}

.bold-style{
    font-weight: 600;
    font-size: 14px;
}

.rows-container{
    display: flex;
}