{% extends 'index.html' %}
{% block content%}

<div class="stock-container">
        <div class="stock_header">
                {{stock_name}} : {{close_value}} PLN ( {{daily_return }} %)
        </div>

        <img src="{{ url_for('static', filename='chart.png')}}" class="candle-img">
        <div class="book-header">
                Opis
        </div>
        <div class="volume-position">
                <div class="company-data">
                        {% for detail in details[:7] %}
                        <div>{{detail}}</div>
                        {% endfor %}
                </div>
                <div class="company-data">
                        {% for detail in details[7:] %}
                        <div>{{detail}}</div>
                        {% endfor %}
                </div>
        </div>
        <div class="book-header">
                Wolumen dla każdej ceny
        </div>
        <div class="volume-position">
                <div class="stock-volume-container">
                        <div class="stock-volume-items">
                                <div class="stock-volume-items-style">Cena</div>
                                <div class="stock-volume-items-style">Wolumen</div>
                        </div>
                        {% for price in prices %}
                        <div class="stock-volume-items">
                                <div class="stock-volume-items-style">{{price[0]}}</div>
                                <div class="stock-volume-items-style">{{price[1]}}</div>
                        </div>

                        {% endfor %}
                </div>

                <div class="stock-volume-container stock-volume-container-image">
                        <div class="stock-volume-items stock-volume-items-image">
                                <img src="{{url_for('static', filename='daily_volume.png')}}">
                        </div>
                </div>
        </div>


        <div class="book-header">
                Wskaźniki
        </div>
        <div class="tables-container indicator-bottom">
                <div class="table-spacing">
                        <table>
                                {% for indicator in indicators|batch(8) %}
                                <tr>
                                        {% for data in indicator %}
                                        <td class="td-style">{{data[0]}}: {{data[1]}}</td>
                                        {% endfor%}
                                </tr>
                                {% endfor %}
                        </table>
                </div>
        </div>

        <div class="rows-container">
                <div class="news-container">
                        <div class="book-header">
                                Komunikaty
                        </div>
                        {% for news in stock_news %}
                        <div class="news-row row-item-style">
                                <div class="row-item row-item-date">{{news[0]}}</div>
                                <div class="row-item-wide"><a href="{{news[2]}}">{{news[1]}}</a></div>
                                <div class="row-item">{{news[3]}} PLN</div>
                                <div class="row-item">{{news[4]}} %</div>
                        </div>
                        {% endfor %}

                </div>

                <div class="news-container">
                        <div class="book-header">
                                Dane finansowe
                        </div>
                        <div class="finance-container">
                                <div class="item-display">
                                        {% for year in fin_data[0][0:5] %}
                                        <div class="data-style bold-style">{{year}}</div>
                                        {% endfor %}
                                </div>
                                {% for value in fin_data[1] %}
                                {% for element in value %}
                                <div class="item-display">
                                        <div class="data-style">{{element[0]}}</div>
                                        {% for amount in element[1] %}
                                        {% if amount %}
                                        <div class="data-style">
                                                {{amount}}
                                        </div>
                                        {% endif %}

                                        {% endfor %}
                                </div>
                                {% endfor %}
                                {% endfor %}
                                <div class="item-display">
                                        {% for year in fin_data[0][5:11] %}
                                        <div class="data-style bold-style">{{year}}</div>
                                        {% endfor %}
                                </div>
                        </div>
                </div>

        </div>

        <div class="financial-chart-container">
                <div>
                        <div class="book-header">
                                Zyski kwartalne
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='profits_q.png')}}">
                        </div>

                </div>
                {% if sales_status %}
                <div>
                        <div class="book-header">
                                Przychody kwartalne
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='sales_q.png')}}">
                        </div>

                </div>
                {% endif %}
                <div>
                        <div class="book-header">
                                Zyski roczne
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='profits_y.png')}}">
                        </div>

                </div>
                {% if sales_status %}
                <div>
                        <div class="book-header">
                                Przychody roczne
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='sales_y.png')}}">
                        </div>

                </div>
                {% endif %}

                {% if debt_status %}
                <div>
                        <div class="book-header">
                                Zobowiązania i rezerwy na zobowiązania kwartalne
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='debt_q.png')}}">
                        </div>

                </div>
                <div>
                        <div class="book-header">
                                Zobowiązania i rezerwy na zobowiązania roczne
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='debt_y.png')}}">
                        </div>

                </div>
                {% endif %}
                {% if capital_status %}
                <div>
                        <div class="book-header">
                                Kapitał własny(kwartał)
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='capital_q.png')}}">
                        </div>

                </div>
                <div>
                        <div class="book-header">
                                Kapitał własny (roczne)
                        </div>
                        <div>
                                <img src="{{url_for('static', filename='capital_y.png')}}">
                        </div>

                </div>
                {% endif %}



        </div>

        <div class="tables-container">
                <div class="table-spacing">
                        <div class="book-header">
                                Arkusz zlecen kupna:
                        </div>
                        <div>
                                <div class="header-format">
                                        <p class="book-element book-element-header-white">
                                                Kurs
                                        </p>
                                        <p class="book-element book-element-header-white">
                                                Wolumen
                                        </p>
                                        <p class="book-element book-element-header-white">
                                                Wartosc
                                        </p>
                                        <p class="book-element book-element-header-white">
                                                Ilosc
                                        </p>
                                        <p class="book-element book-element-header-white">
                                                %
                                        </p>
                                </div>

                                {% for val in o_book[0] %}
                                <div class="book-item">
                                        <p class="book-element book-element-bold">
                                                {{val[0]}}
                                        </p>
                                        <p class="book-element">
                                                {{val[1]}}
                                        </p>
                                        <p class="book-element">
                                                {{val[2]}}
                                        </p>
                                        <p class="book-element">
                                                {{val[3]}}
                                        </p>
                                        <p class="book-element">
                                                {{val[4]}}
                                        </p>
                                </div>
                                {% endfor %}
                        </div>
                </div>
                <div class="table-spacing">
                        <div class="book-header">
                                Arkusz zlecen sprzedazy:
                        </div>
                        <div class="header-format">
                                <p class="book-element book-element-header-white ">
                                        Kurs
                                </p>
                                <p class="book-element book-element-header-white">
                                        Wolumen
                                </p>
                                <p class="book-element book-element-header-white">
                                        Wartosc
                                </p>
                                <p class="book-element book-element-header-white">
                                        Ilosc
                                </p>
                                <p class="book-element book-element-header-white">
                                        %
                                </p>
                        </div>
                        {% for val in o_book[1] %}
                        <div class="book-item">
                                <p class="book-element book-element-bold">
                                        {{val[0]}}
                                </p>
                                <p class="book-element">
                                        {{val[1]}}
                                </p>
                                <p class="book-element">
                                        {{val[2]}}
                                </p>
                                <p class="book-element">
                                        {{val[3]}}
                                </p>
                                <p class="book-element">
                                        {{val[4]}}
                                </p>
                        </div>
                        {% endfor %}

                </div>
                <div>
                        <div class="book-header">
                                Dzienna % stopa zwrotu za ostatnie 90 dni
                        </div>
                        <img src="{{ url_for('static', filename='daily_return.png')}}" class="d-return">

                        <div class="book-header">
                                Histogram zwrotu
                        </div>
                        <img src="{{ url_for('static', filename='histogram.png')}}" class="d-return">

                </div>

        </div>

        <div class="book-header">
                Akcjonariat
        </div>
        <div class="share-main">
                <div class="shareholders-container">
                        <div class="shareholders-row shareholders-header">
                                <div class="shareholders-item shareholders-narrow">Lp</div>
                                <div class="shareholders-item shareholders-wide">Akcjonariusz</div>
                                <div class="shareholders-item shareholders-medium">Udział w kapitale</div>
                                <div class="shareholders-item shareholders-medium">Liczba akcji</div>
                                <div class="shareholders-item shareholders-narrow">Ostatnia zmiana</div>
                                <div class="shareholders-item shareholders-medium">Wartość rynkowa (PLN)</div>
                                <div class="shareholders-item shareholders-medium">Udział na WZA</div>
                                <div class="shareholders-item shareholders-medium">Liczba głosów</div>
                                <div class="shareholders-item shareholders-narrow">Ostatnia zmiana</div>
                                <div class="shareholders-item shareholders-wide">Data aktualizacji</div>
                        </div>
                        {%for item in shareholder%}
                        <div class="shareholders-row">
                                <div class="shareholders-item shareholders-narrow">{{item[0]}}</div>
                                <div class="shareholders-item shareholders-wide">{{item[1]}}</div>
                                <div class="shareholders-item shareholders-medium">{{item[2]}}</div>
                                <div class="shareholders-item shareholders-medium">{{item[3]}}</div>
                                <div class="shareholders-item shareholders-narrow">{{item[4]}}</div>
                                <div class="shareholders-item shareholders-medium">{{item[5]}}</div>
                                <div class="shareholders-item shareholders-medium">{{item[6]}}</div>
                                <div class="shareholders-item shareholders-medium">{{item[7]}}</div>
                                <div class="shareholders-item shareholders-narrow">{{item[8]}}</div>
                                <div class="shareholders-item shareholders-wide">{{item[9]}}</div>
                        </div>
                        {%endfor %}
                </div>
                <div class="shareholders-pie">
                        <img src="https://stooq.pl/q/h/c/?s={{ticker}}">
                </div>

        </div>
</div>

{% endblock%}